<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h1>Volunteer opportunities</h1>
<div id="map-container">
  <div id="map-canvas"></div>
  <div id="doit_status">Do-it data loading</div>
</div>

<h2>Random number from afar</h2>

<p>My random number: <span id="rndnum">----</span></p>

<h2>Statistics</h2>

<h3>Global statistics from the last response</h3>
Items per page: <span id="items_per_page">0</span><br />
Total numbers of items: <span id="total_items">0</span><br />
Total number of pages: <span id="total_pages">0</span>

<% if Rails.env.test? %>
  <div id="RailsTestEnv"> </div>
<% end %>
